In [8]:
# numerical datatype
x = 5 #int
print(x)

5

In [9]:
print(type(x))

<class 'int'>

In [1]:
price = 26.25 #float
print(price)

26.25

In [2]:
num = 3e6 # 3 x (10)power 6
# e = base 10
print(num)

3000000.0

In [6]:
print(type(num))

<class 'float'>

In [4]:
# cimplex numbers
z = 4 + 5j
print(z)

(4+5j)

In [5]:
# python provides inbuilt function type() to know the datatypes of the any value or variable
print(type(z))

<class 'complex'>

In [11]:
print(abs(-5.2))

5.2

In [12]:
print(pow(2, 3))

8

In [14]:
print(round(4.75))
print(round(4.5))

5
4

In [17]:
nums = [3, 1, 5, 7, 9, 1]
print(min(nums))
print(max(nums))
print(sum(nums))

1
9
26

# Some inbuilt functions in Python
1. abs() - The abs() function is a built-in function in Python that returns the absolute value of a number. The absolute value of a number is its distance from zero on the number line. For example, the absolute value of 5 is 5, and the absolute value of -5 is also 5.
2. pow(base, power) - The pow() function in Python calculates the power of a number. It takes two arguments: the base and the exponent.
3. round() - The round() function in Python rounds a number to the nearest integer or decimal digit.
Arguments:
number: The number to be rounded.
ndigits: (Optional) The number of decimal digits to round to. If not specified, it defaults to 0, which rounds to the nearest integer.

Return Value:
The rounded number.

3. min() -

4. sum() -

.

In [21]:
# Sequence datatype
# It comprises of group of elements
# 1. String - Sequence of characters
# 'String' - used for single line string
# "String" - used for single line string
# ''' String''' - used for multi-line string

In [24]:
name = 'Vishwa'
city = "Banglore"
country = '''India'''
print(name, type(name))
print(city, type(city))
print(country, type(country))

Vishwa <class 'str'>
Banglore <class 'str'>
India <class 'str'>

In [19]:
message = '''Hello, my dear friends.
This is my learning.'''

Index in Strings:
String --> "Vishwa"
Index -->   012345

In [25]:
name = "Vishwa Mohan"

print(name[3])

h

In [26]:
print(name[12])
# left to right indexing --> Positive indexing
# range of string:
# 0 to (lengthOfString - 1) - set of valid values for index

IndexError: string index out of range

In [30]:
name = "Vishwa Mohan"
print(name[-1]) # returns character at the last position

# right to left indexing --> Negative indexing
# range of index - [-length, -1] - valid values of index

n

In [31]:
# String is Immutable
# changing the stribg is not allowed in Python

str = "Vishwa"

str[0] = "X" # this is not allowed as strings ae immutable

TypeError: 'str' object does not support item assignment

In [32]:
# Concatenation of Strings
# Conatenation operator : +

first_name = "Vishwa"
last_name = "Mohan"

complete_name = first_name + " " + last_name

print(complete_name)

Vishwa Mohan

In [34]:
# length of the string
# Using len() function - it tell the size of string
                      #  - it tells the count of characters in String

print(len(complete_name))

# 26 minutes done for this lecture

12