In [ ]:
#numerical
x=5

In [ ]:
print(type(x))

<class 'int'>

In [ ]:
price = 26.25
print(price)

26.25

In [ ]:
num = 3e6
print(num)

3000000.0

In [ ]:
print(type(num))

<class 'float'>

In [ ]:
z = 4 + 5j
print(z)

(4+5j)

In [ ]:
print(type(z))

<class 'complex'>

In [ ]:
print(abs(-5))

5

In [ ]:
print(pow(2,3))

8

In [ ]:
print(round(4.75))
print(round(4.5))

5
4

In [ ]:
nums = [3,1,5,7,9,1]

print(min(nums))
print(max(nums))
print(sum(nums))

1
9
26

In [ ]:
name = 'vishwa'
city = "Bangalore"
country = '''India'''

In [ ]:
messag = '''
Hello my dear friends,
this is my learning !
'''

In [ ]:
name = "Vishwa Mohan"

print(name[3])

h

In [ ]:
print(name[12])

IndexError: string index out of range

In [ ]:
print(name[-1])

n

In [ ]:
print(name[-3])

h

In [ ]:
str = "Vishwa Mohan"

str[0] = 'X'

TypeError: 'str' object does not support item assignment

In [ ]:
#concatenation
first_name = "Vishwa"
last_name = "Mohan"

complete_name = first_name +" "+ last_name
print(complete_name)

Vishwa Mohan

In [ ]:
#Length of the string
print(len(complete_name))

12

In [ ]:
str = 'Vishwa Mohan'

print(str[2:5])

shw

In [ ]:
print(str[2:])

shwa Mohan

In [ ]:
print(str[:7])

Vishwa

In [ ]:
print(str[:])

Vishwa Mohan

In [ ]:
print(str[-9:-4 ])

hwa M

In [ ]:
print(str[-9:9])

hwa Mo

In [ ]:
str = "   vIshwa "
print(str.upper())
print(str.lower())
print(str.capitalize())
print(str.strip())

   VISHWA
   vishwa
   vishwa
vIshwa

In [ ]:
#replace method

str = "Hello dear, I am very good, I am very nice, I am wow"

print(str.replace("I am","We are",2))

Hello dear, We are very good, We are very nice, I am wow

In [ ]:
#Escape character

print("Hello \n Vishwa")

Hello
 Vishwa

In [ ]:
print("Vishwa\tMohan")

Vishwa	Mohan

In [ ]:
print("Vishwa \"Mohan\"")

Vishwa "Mohan"

Learning List

In [ ]:
students = ["Mohan", "Vishwa", "Shivani", "Sakshi"]

print(students)
print(type(students))

['Mohan', 'Vishwa', 'Shivani', 'Sakshi']
<class 'list'>

In [ ]:
list2 = list(students)
print(list2)

['Mohan', 'Vishwa', 'Shivani', 'Sakshi']

In [ ]:
list3 = list("Vishwa")
print(list3)

['V', 'i', 's', 'h', 'w', 'a']

In [ ]:
list4 = list((3,4,"Vishwa"))
print(list4)

[3, 4, 'Vishwa']

In [ ]:
#Accessing the elements of the list
l1 = [1,3,9,2,5,6,7]
print(l1[3])
print(l1[-6])

2
3

In [ ]:
arr = [ 3,2,1,5,9]

arr.append(11)
print(arr)

[3, 2, 1, 5, 9, 11]

In [ ]:
arr.insert(3,43)
print(arr)

[3, 2, 1, 43, 5, 9, 11]

In [ ]:
l1 =  [1,2]
l2 = ["Vishwa", "Mohan"]
l1.extend(l2)
print(l1)

[1, 2, 'Vishwa', 'Mohan']

In [ ]:
#Remove elements from the list

In [ ]:
arr = [3,5,2,1,9]
arr.remove(1)
print(arr)

[3, 5, 2, 9]

In [ ]:
arr= [3,5,2,1,9,1,8,1]
arr.remove(1)
print(arr)

[3, 5, 2, 9, 1, 8, 1]

In [ ]:
arr = [3,1,7,9,11,23,45]
print(arr.pop(2))
print(arr)

7
[3, 1, 9, 11, 23, 45]

In [ ]:
students = ['a' , 'b', 'c' , 'd','e']

students[3]='f'
print(students)

['a', 'b', 'c', 'f', 'e']

In [ ]:
students[1:4] = 'm','n'

print(students)

['a', 'm', 'n', 'e']

In [ ]:
l1 = [1,2,3,4,5]
l1.reverse()
print(l1)

[5, 4, 3, 2, 1]

In [ ]:
l1_copy = l1.copy()
print(l1_copy)

print(id(l1_copy), id(l1))

[5, 4, 3, 2, 1]
135033392082624 135033391993664

In [ ]:
l1.sort()

print(l1)

[1, 2, 3, 4, 5]

In [ ]:
#Tuple
tup1 = (3,6,1,9,10)
print(tup1)
print(type(tup1))

(3, 6, 1, 9, 10)
<class 'tuple'>

In [ ]:
t1 = tuple([1,2,4])
print(t1)

(1, 2, 4)

In [ ]:
t2 = tuple("Vishwa")
t3 = tuple(tup1)

print(t2,t3)

('V', 'i', 's', 'h', 'w', 'a') (3, 6, 1, 9, 10)

In [ ]:
t = (35,)

print(type(t))

<class 'tuple'>

In [ ]:
fruits = ('apple','mango','banana','apple','mango','apple', 'strawberry')

print(fruits.count('jackfruit'))

0

In [ ]:
print(fruits.index('jackfruit'))

ValueError: tuple.index(x): x not in tuple

In [ ]:
print(fruits.index('mango'))

1

In [ ]:
print(len(fruits))

7

In [ ]:
fruits = ('apple','mango','banana','apple','mango','apple', 'strawberry')

In [ ]:
print(fruits[3])
print(fruits[-3])

apple
mango

In [ ]:
fruits[3] = 'Jackfruit'
print(fruits)

TypeError: 'tuple' object does not support item assignment

In [ ]:
#slicing
fruits = ('apple','mango','banana','apple','mango','apple', 'strawberry')

print(fruits[2:7])

('banana', 'apple', 'mango', 'apple', 'strawberry')

Boolean

In [ ]:
print(True)
print(False)

True
False

Dictionary

In [ ]:
------
print(students_details)
print(type(students_details))

{'name': 'Vishwa', 'age': 21, 'city': 'Bangalore'}
<class 'dict'>

In [ ]:
dict1 = {1:"Vishwa" , 2:"Mohan" , True : "Love"}
print(dict1)

{1: 'Love', 2: 'Mohan'}

In [ ]:
dict1 = {3:"Vishwa" , 2:"Mohan" , True : "Love"}
print(dict1)

{3: 'Vishwa', 2: 'Mohan', True: 'Love'}

In [ ]:
#Dictionary constructor methods
dict1 = dict(name="Vishwa", age="Mohan", True="Love")

SyntaxError: cannot assign to True (<ipython-input-25-a3502ec24a58>, line 2)

In [ ]:
dict1 = dict(name="Vishwa", age="Mohan")
print(dict1)
print(type(dict1))

{'name': 'Vishwa', 'age': 'Mohan'}
<class 'dict'>

In [ ]:
#Access the elements of the dictionary
students_details = {'name':'Vishwa' , 'age':21, 'city':"Bangalore"}

print(students_details['name'])

print(students_details['city'])

Vishwa
Bangalore

In [ ]:
print(students_details.keys())
print(students_details.values())
print(students_details.items())

dict_keys(['name', 'age', 'city'])
dict_values(['Vishwa', 21, 'Bangalore'])
dict_items([('name', 'Vishwa'), ('age', 21), ('city', 'Bangalore')])

How do we add elements in the dictionary | key,value

In [ ]:
students_details = {'name':'Vishwa' , 'age':21, 'city':"Bangalore"}

students_details['country'] = "India"

print(students_details)

{'name': 'Vishwa', 'age': 21, 'city': 'Bangalore', 'country': 'India'}

In [ ]:
students_details = {'name':'Vishwa' , 'age':21, 'city':"Bangalore"}

marks_details = {'English': 100, 'Maths':78, 'Science':92}

students_details.update(marks_details)

print(students_details)

{'name': 'Vishwa', 'age': 21, 'city': 'Bangalore', 'English': 100, 'Maths': 78, 'Science': 92}

In [ ]:
#Remove the elements from the dictionary
print(students_details.pop('city'))
print(students_details)

Bangalore
{'name': 'Vishwa', 'age': 21, 'English': 100, 'Maths': 78, 'Science': 92}

In [ ]:
print(students_details.popitem())
print(students_details)

('Science', 92)
{'name': 'Vishwa', 'age': 21, 'English': 100, 'Maths': 78}

In [ ]:
del students_details['age']
print(students_details)

{'name': 'Vishwa', 'English': 100, 'Maths': 78}

In [ ]:
students_details.clear()
print(students_details)

{}

Set datatyps

In [ ]:
my_set = {1,2,3,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 5}
<class 'set'>

In [ ]:
s1 = {1,4,5,2,1,9,7,4,1}
print(s1)

{1, 2, 4, 5, 7, 9}

In [ ]:
s2 = set()
print(s2)

set()

In [ ]:
s3 = set({5,6,7})
print(s3)

{5, 6, 7}

In [ ]:
#Add
s = set()

s.add(5)
s.add(13)
s.add(5)
s.add(12)
print(s)

{13, 12, 5}

In [ ]:
#Remove

s1 = {3,9,7,4}
print(s1.discard(7))
print(s1)

None
{9, 3, 4}

In [ ]:
s1.remove(12)
print(s1)

KeyError: 12

FrozenSet : Immutable set

In [ ]:
fs = frozenset([1,2,3])
print(fs)
print(type(fs))

frozenset({1, 2, 3})
<class 'frozenset'>

In [ ]:
fs2 = frozenset({1,2,3})
print(fs2)

frozenset({1, 2, 3})

In [ ]:
dict1 = {fs2 : "Vishwa"}
print(dict1)

{frozenset({1, 2, 3}): 'Vishwa'}

In [ ]:
#Implicit typecasting

x = 5
y = 6.5
result = x+y
print(result)

11.5

In [ ]:
y='10'
print(type(y))
int_y = int(y)
print(type(int_y))

<class 'str'>
<class 'int'>

In [ ]:
str()
int()
float()

In [ ]:
data = 'one'

print(int(data))

ValueError: invalid literal for int() with base 10: 'one'